<!-- Модальное окно для добавления товара -->
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Добавить товар</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <% if @product && @product.errors.any? %>
      <div class="alert alert-danger">
        <h4>Ошибки:</h4>
        <ul>
          <% @product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

        <%= form_with(model: Product.new, local: false, url: products_path, remote: true) do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :description %>
            <%= form.text_area :description, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :price %>
            <%= form.number_field :price, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :image_url %>
            <%= form.text_field :image_url, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= form.label :category %>
            <div class="input-group">
              <%= form.select :category, options_for_select(@categories), { include_blank: 'Выберите категорию' }, class: 'form-control', id: 'category-select' %>
              <input type="text" class="form-control" placeholder="Новая категория" id="new-category" />
            </div>
          </div>

          <%= form.submit 'Создать товар', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/header' %>

<main>
  <div>
    <h2>Поиск по названию товара</h2>
    <%= form_with url: admin_path, method: :get, local: false do %>
      <input type="text" name="query" placeholder="Введите название товара..." value="<%= params[:query] %>">
      <button type="submit">Поиск</button>
    <% end %>
  </div>

  <div>
    <h2>Сортировка по категории</h2>
    <%= form_with url: admin_path, method: :get, local: false, id: 'category-filter-form' do %>
      <%= select_tag :category, options_for_select(@categories, params[:category]), prompt: "Выберите категорию", onchange: 'this.form.submit();' %>
    <% end %>
  </div>

    
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">
    Add product
  </button>

  <div id="products-table">
    <%= render 'products_table', products: @products %>
  </div>
</main>

<footer>
  <p>&copy; 2024 BestMarket</p>
</footer>