<h1>Редактировать профиль</h1>

<%= form_with model: @user, url: update_profile_profile_path, local: true do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить изменения' %>
  </div>
<% end %>

<%= link_to 'Назад', profile_path %>